// same es in css-class.ts

$SELECTING: "selecting";
$SELECTED: "selected";
$PANIC: "panic";
$NEXT: "next";
$SCARED: "scared";
$SCARY: "scary";
$T13A: "t13a";
$P_T13A: "p_t13a";
$HAS_PERSON: "has_person";
$HAS_LEFT: "has_left";
$HAS_RIGHT: "has_right";
$CELL: "cell";
$IS_DRAGGING: "is_dragging";
$IS_DRAGGED: "is_dragged";

$UP: "up";
$DOWN: "down";
$LEFT: "left";
$RIGHT: "right";

$ARROW: "arrow";

$HELP: "help";
$WELCOME: "welcome";
$STATS: "stats";
$STATS_GRID: "stats_grid";
$STAT: "stat";
$GOOD: "good";
$BAD: "bad";

$TABLE: "table";
$MIDDLE: "middle";
$PLATE: "plate";
$CHAIR: "chair";
$PERSON: "person";
$EMOJI: "emoji";
$FIELD: "field";
$WON: "won";
$START_BUTTON: "start_button";
